<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TuneUp</title>
  </head>
  <body>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="container p-5 my-5 bg-dark text-white">
          <img src="https://i.ibb.co/1Yg1ncM/tuneup.png" class="img-fluid">
          <%= form_tag recommendations_path, method: :get do %>
            <div class="mb-3">
              <%= label_tag("input-query", "Enter a song or an artist:", class: "form-label") %>
              <%= text_field_tag(
                :query,
                nil,
                class: "form-control",
                required: true,
                maxlength: 50
              ) %>
            </div>
            <div class="mb-3">
              <%= label_tag(
                "recommendation-type",
                "Select recommendation type:",
                class: "form-label"
              ) %>
              <div class="form-check">
                <%= radio_button_tag(
                  :recommendation_type,
                  "song",
                  checked = true,
                  class: "form-check-input"
                ) %>
                <%= label_tag("radio-song", "Song", class: "form-check-label") %>
              </div>
              <div class="form-check">
                <%= radio_button_tag(
                  :recommendation_type,
                  "artist",
                  checked = false,
                  class: "form-check-input"
                ) %>
                <%= label_tag("radio-artist", "Artist", class: "form-check-label") %>
              </div>
            </div>
            <div class="mb-3">
              <%= label_tag("options", "Select matching options:", class: "form-label") %>
              <div class="form-check">
                <%= check_box_tag("options[]", "mood", checked = false, class: "form-check-input") %>
                <%= label_tag("checkbox-mood", "Mood", class: "form-check-label") %>
              </div>
              <div class="form-check">
                <%= check_box_tag("options[]", "tempo", checked = false, class: "form-check-input") %>
                <%= label_tag("checkbox-tempo", "Tempo", class: "form-check-label") %>
              </div>
              <div class="form-check">
                <%= check_box_tag("options[]", "genre", checked = false, class: "form-check-input") %>
                <%= label_tag("checkbox-genre", "Genre", class: "form-check-label") %>
              </div>
              <div class="form-check">
                <%= check_box_tag("options[]", "style", checked = false, class: "form-check-input") %>
                <%= label_tag("checkbox-style", "Style", class: "form-check-label") %>
              </div>
              <div class="form-check">
                <%= check_box_tag(
                  "options[]",
                  "instrumentation",
                  checked = false,
                  class: "form-check-input"
                ) %>
                <%= label_tag(
                  "checkbox-instrumentation",
                  "Instrumentation",
                  class: "form-check-label"
                ) %>
              </div>
              <div class="form-check">
                <%= check_box_tag("options[]", "theme", checked = false, class: "form-check-input") %>
                <%= label_tag("checkbox-theme", "Theme", class: "form-check-label") %>
              </div>
            </div>
            <%= submit_tag("Get Recommendations", class: "btn btn-outline-dark") %>
          <% end %>
        </div>
      </div>
      <div class="col"></div>
    </div>

  </body>
</html>
